.switch{

    margin: 100px auto;
}
#a{
    width:100%;
    height:60px;
    display: flex;
}
#a div{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #eeeeee;
}
.content{
    width:100%;
    height:340px;
    display: none;
}
.switch .active{
    display: block;
}